:root { 
--gray_50_01:#f9f8fe; 
--gray_50_02:#f9fafb; 
--gray_50_03:#f5fafa; 
--deep_purple_700:#52459f; 
--gray_50:#f8f8fa; 
--teal_200:#74c9a9; 
--teal_300:#54bd95; 
--yellow_A400:#fee900; 
--black_900:#000000; 
--indigo_50_01:#e7ecf3; 
--gray_200_01:#f0f0ef; 
--light_blue_A700:#0f8ce9; 
--deep_orange_200:#ffaa94; 
--blue_gray_900_01:#222938; 
--blue_gray_900:#232937; 
--black_900_26:#00000026; 
--white_A700_6c:#ffffff6c; 
--gray_400:#bbbbbb; 
--gray_500:#a6a6a6; 
--blue_gray_100:#d9d9d9; 
--amber_400:#ffc728; 
--blue_gray_300:#a9a7b6; 
--indigo_50:#dbe5fa; 
--gray_900:#191a15; 
--gray_900_01:#161c28; 
--teal_300_01:#52bd94; 
--amber_300:#fbc75e; 
--teal_300_02:#6ac2a1; 
--gray_200:#eeeeee; 
--black_900_0c:#0000000c; 
--gray_300:#e6e6e6; 
--blue_50:#e9effc; 
--teal_200_01:#84d9b9; 
--white_A700:#ffffff; 
}